{% extends "_layouts/model_page.html" %}
{% block content %}
<br>
<form class="col-sm-5" action="submit" method="POST">{% csrf_token %}
    <div class="mb-3 form-group row d-flex "></div>
    <div class="mb-3 form-group row d-flex ">
        <h3>Cadastro</h3>
        <p> Bem vindo! Digite as informações abaixo para criar uma nova conta. </p>
        <p> Já possui uma conta? Faça <a href="/login">login</a>.</p>
    </div>
    <div class="mb-3 form-group row">
        <div class="form-floating">
            <input required type="text" class="form-control" name="username"
                   id="username" placeholder="Nome de usuário"
                   {% if username is not None %}
                        value="{{ username }}"
                   {% endif %}
            >
            <label for="username" class="col-sm-2 col-form-label">Nome de usuário</label>
        </div>
    </div>
    <div class="mb-3 form-group row">
        <div class="form-floating">
            <input required type="email" class="form-control" name="email"
                   id="email" placeholder="example@example.com"
                   {% if email is not None %}
                        value="{{ email }}"
                   {% endif %}
            >
            <label for="email" class="col-sm-2 col-form-label">Email</label>
        </div>
    </div>
    <div class="mb-3 form-group row">
        <div class="form-floating">
            <input required
                   type="password" class="form-control" id="password1" name="password1" placeholder="Senha">
            <label for="password1" class="col-sm-2 col-form-label">Senha</label>
        </div>
    </div>
        <div class="mb-3 form-group row">
        <div class="form-floating">
            <input required
                   type="password" class="form-control" id="password2" name="password2"
                   placeholder="Confirmar senha">
            <label for="password2" class="col-sm-2 col-form-label">Confirmar senha</label>
        </div>
    </div>
    <div class="mb-3 form-group">
        <button type="submit" class="btn btn-primary float-end">Finalizar Cadastro</button>
    </div>
</form>
{% endblock %}