{% extends "_layouts/model_page.html" %}

{% block content %}
{% for message in messages %}
    <strong>:&nbsp</strong>{{ message }}
{% endfor %}
<br>
<form action="submit" method="POST">{% csrf_token %}
    <!-- @TODO modificar os campos para conter nome de usuário, email e senha -->
    <div class="mb-3 form-group row d-flex "></div>
    <div class="mb-3 form-group row d-flex ">
        <h3>Cadastro</h3>
        <p> Bem vindo! Digite as informações abaixo para criar uma nova conta. </p>
        <p> Já possui uma conta? Faça <a href="/login">login</a>.</p>
    </div>
    <div class="mb-3 form-group row">
        <div class="col-sm-5 form-floating">
            <input required type="text" class="form-control" name="username"
                   id="username" placeholder="Nome de usuário">
            <label for="username" class="col-sm-2 col-form-label">Nome de usuário</label>
        </div>
    </div>
    <div class="mb-3 form-group row">
        <div class="col-sm-5  form-floating">
            <input required
                   type="password" class="form-control" id="password" name="password" placeholder="Senha">
            <label for="password" class="col-sm-2 col-form-label">Senha</label>
        </div>
    </div>
    <div class="mb-3 form-group row">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </div>
</form>
{% endblock %}