{% extends "_layouts/model_page.html" %}

{% block content %}
<div class="container"><div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row align-items-baseline justify-content-between">
                <h5 class="card-title">Histórico de Eventos</h5>
                <a href="{% url 'lista_eventos' %}">
                    <button type="button" class="btn btn-primary">Eventos atuais</button>
                </a>
            </div>
            {% if eventos|length > 0 %}
                <p class="card-text">
                    Aqui está o histórico de Eventos expirados.
                </p>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Data e hora</th>
                        <th>Local</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.titulo }}</td>
                            <td>
                                {% if evento.descricao is not None %}
                                    {{ evento.descricao }}
                                {% endif%}
                            </td>
                            <td>
                                {% if evento.data_evento is not None %}
                                    {{ evento.data_evento }}
                                {% endif %}
                            </td>
                            <td>
                                {% if evento.local is not None %}
                                    {{ evento.local }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="evento/?id={{ evento.id }}"
                                   class="btn btn-info">
                                    Editar
                                </a>
                                <a href="{% url 'delete_evento' id_evento=evento.id %}"
                                   class="btn btn-outline-danger">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                    <h5>Nenhum Evento cadastrado ainda.</h5>
                </div>
            {% endif %}
            <hr />
        </div>
    </div>
</div>
</div></div>
{% endblock %}

